<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Rejestracja <small>Możesz zdać już teraz!</small></h3>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form" #registerForm="ngForm" (ngSubmit)="register()">
			    			<div class="row">

                  <div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			                <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  #mail="ngModel"  type="mail" name="mail" id="mail" class="form-control input-sm" placeholder="Mail" required [(ngModel)]="model.mail">
							<div style="color:red;" *ngIf="mail.touched">
								<p *ngIf="mail.errors?.required">Pole jest wymagane!</p>
								<p *ngIf="mail.errors?.pattern">Niepoprawny mail!</p>
							  </div>

                    </div>
			    				</div>

                  <div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input  #name="ngModel" required type="text" name="name" id="name" class="form-control input-sm" placeholder="Name" [(ngModel)]="model.Name">
										<div style="color:red;" *ngIf="mail.touched">
											<p *ngIf="name.errors?.required">Pole jest wymagane!</p>

										  </div>
									</div>
			    				</div>
			    			</div>



			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input [minlength]="6" #password="ngModel" required type="password" name="password" id="password" class="form-control input-sm" placeholder="Password" [(ngModel)]="model.password">
										<div style="color:red;" *ngIf="mail.touched">
											<p *ngIf="password.errors?.required">Pole jest wymagane!</p>
											<p *ngIf="password.errors?.minlength">Minimum 6 znaków!</p>
										  </div>
									</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input  #confirmPassword="ngModel"  type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password" [(ngModel)]="model.confirmPassword">
                      <div style="color:red;" *ngIf="mail.touched">
                        <p *ngIf="!this.passwordMatch()">Hasła nie są równe!</p>

                        </div>
									</div>
			    				</div>
			    			</div>

			    			<input [disabled]="registerForm.invalid" type="submit" value="Register" class="btn btn-info btn-block">



			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>
