<div  class="container" style="padding: 50px; font-weight: bold;">
  <div style="padding: 20px;" class="border border-dark">
<h1 style="text-align: center;"> Zarządzanie drzewami</h1>
<div *ngIf="this.checkRole() == 'admin'">
<p>
Aktualny wezeł {{ currentId }}
<br/>
<button style="margin-right: 10px;" (click)="deleteNode()"  class="btn btn-danger">Usuń aktualny węzeł</button>
<button (click)="resetCurrentNodeValue()"  class="btn btn-danger">Odznacz aktualny węzeł</button>
  </p>

 <form #changeParentForm="ngForm"  (ngSubmit)="changeParent()">
  <div class="form-group">
    Id nowego rodzica:
    <input  #parrentId="ngModel" pattern="^[1-9][0-9]*$" required type="Text" class="form-control" placeholder="Wartość rodzica" name="endDate"  [(ngModel)]="newParrentId">

    <div style="color:red;" *ngIf="parrentId.dirty">
        <p *ngIf="parrentId.errors?.pattern">Wartości muszą liczbą i być wyższe niż zero!</p>
        <p *ngIf="parrentId.errors?.required">Jeśli chcesz dodać węzeł, wartość jest wymagana</p>

       </div>
    <div class="form-group text-center my-4">
      <button [disabled]="changeParentForm.invalid" class="btn btn-success" type="submit">Zmień rodzica</button>



    </div>
    </div>

</form>
</div>

<div *ngIf="this.checkRole() == 'admin'">
<form #addNewNodeForm="ngForm"  (ngSubmit)="addNewNode()">
  <div class="form-group">
    Wartośc nowego węzłą:
    <input required=""  #value="ngModel"   pattern="^[1-9][0-9]*$" type="Text" class="form-control" placeholder="Wartość nowego węzła" name="Value"  [(ngModel)]="newNode.Value">
      <div style="color:red;" *ngIf="value.dirty">
      <p *ngIf="value.errors?.pattern">Wartości muszą liczbą i być wyższe niż zero!</p>
      <p *ngIf="value.errors?.required">Jeśli chcesz dodać węzeł, wartość jest wymagana</p>

      </div>
    <div class="form-group text-center my-4">
      <button [disabled]="addNewNodeForm.invalid" class="btn btn-success" type="submit">Dodaj</button>


    </div>
</div>

</form>
 </div>

 <div>
  <h1>Drzewa</h1>
  <button class="btn btn-primary" [class.btn-dark]="sortBy==0" (click)="this.sort(0)">Identyfikator</button>
  <button class="btn btn-primary" [class.btn-dark]="sortBy==1" (click)="this.sort(1)">Wartość</button>
<ul>
  <ng-template #recursiveList let-tree>
    <li *ngFor="let item of tree" (click)="listClick($event, item)">
     <p [class.text-primary]="item.childs.length > 0">ID:{{item.id}} (Value:{{item.value}})</p>
      <ul *ngIf="item.childs.length > 0 && item.showTree"   [ngClass]="{ 'subtree': selectedItem == item }">
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.childs }"></ng-container>
      </ul>
    </li>
  </ng-template>
  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: tree }"></ng-container>
</ul>
</div>
</div>
</div>
